<?xml version="1.0"?>
<connectionStrings>
  <add name="DatabaseConnection" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = oracpgp1)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = rcfaprd)(SERVER = DEDICATED)));PASSWORD=reladmin1;PERSIST SECURITY INFO=True;USER ID=RELADMIN;Unicode=true" />
</connectionStrings>

